<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">USAC</h4>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">IPC 1 "D"</h4>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Proyecto 2</h4>
                <p>Angel Geovanny Ordon Colchaj - 201905741</p>
            </div>
        </div>
    </div>
</div>