<div class="ui inverted vertical center aligned segment">

    <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
            <a class="toc item">
                <i class="sidebar icon"></i>
            </a>
            <a class="item" routerLink="/home">Home</a>
            <label class="right item"></label>
            <label class="right item"></label>
            <label class="right item"></label>
            <label class="right item"></label>
            <div id="username_label">
                <a class="right item" routerLink="/profile">Perfil</a>
            </div>
            <div class="right item">
                <!-- <a class="ui inverted button">Log in</a> -->
                <a class="ui inverted button" onclick="logout()">Cerrar sesión</a>
            </div>
        </div>
    </div>
</div>