
<div class="pusher">

    <app-navbar></app-navbar>
    <div class="ui message">
        
        <div class="field">
            <img src="assets/img/PIWEB3.png" width="50" height="50">
            <a>PIWEB</a>
            <div class="ui left icon input">
               
                <i class="user icon"></i>
                <input type="text" id="curso" curso="curso" placeholder="Curso">
               
                 
                <div class="ui fluid large teal button" onclick="recover()">Buscar</div>
            </div>
        </div>
    </div>
    <a>+++++++++++++++++++++++++++++++++++++++++++++++++++++</a>
    <img src="assets/img/PIWEB2.jpg" width="150" height="100">
    <a>+++++++++++++++++++++++++++++++++++++++++++++++++++++</a>
    <div class="ui vertical stripe">
        <div class="ui middle aligned stackable grid container">
            <div class="row">            
                <div class="one wide column"></div>         
                <div class="fourteen wide column">
                    <div class="ui grid"> 
                        <div class="row">
                            <div class="one wide column"></div>
                            <div class="five wide column">
                                <div class="ui fluid large teal button " onclick="recover()">Agregar Curso</div>
                                <h2 class="ui header">
                                    <i class="newspaper outline icon"></i> 
                                    <div class="content">Cursos <div class="sub header">Todos los Cursos Aprobados                                                                    
                                    </div>
                                   </div>
                                </h2>                        
                            </div>
                        </div>
                    </div>
                    <div class="ui hidden divider"></div>
                    <table class="ui teal table">
                        <thead>
                            <tr>
                                <th>Curso</th>
                                <th>Catedratico</th>
                                <th>Domicilio</th>
                                <th>Telefono</th>
                                <th>Correo</th>
                                <th>DPI</th>
                                <th>NIT</th>
                                <th>Domicilio</th>
                                <th class="right aligned">Acciones</th>
                            </tr>
                        </thead>                  

                    </table>
                </div>
                <div class="one wide column"></div>
            </div>

        </div>
    </div>

    <app-footer></app-footer>

</div>
