<div class="ui middle aligned center aligned grid" id="auth-style">
    <div class="column">
        <h2 class="ui teal image header">
            <img src="https://3.bp.blogspot.com/-2kXGuGA1ON0/Wv3plRrEPjI/AAAAAAAAAOE/5dJCBrXXLR01bFtoTyBZ1btCcMLBX33rQCLcBGAs/s320/Logo%2BWOS%2Bcol%2B%25281%2529.png"
                class="image" onclick="principal()">
            <div class="content">
                Recuperar contraseña
            </div>
        </h2>
        <form class="ui large form">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" id="username" name="username" placeholder="Nombre de usuario">
                    </div>
                </div>
                <div class="ui fluid large teal button" onclick="recover()">Recuperar</div>
            </div>

            <div class="ui error message"></div>

        </form>
    </div>
</div>