<p> <i class="newspaper outline icon"></i> FIUSAC</p>
<div class="ui inverted vertical center aligned segment">

    <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
            <a class="toc item">
                
            </a>
            <a class="item circle outline icon" routerLink="/login">O  Iniciar sesion</a>
            <a class="item" routerLink="/register">O  Registrarse</a>
            <label class="right item"></label>
            <label class="right item"></label>
            <label class="right item"></label>
            <label class="right item"></label>
            <div id="username_label">
                <!-- <label class="right item">Nombre del usuario</label> -->
            </div>
            <div class="right item">
                <!-- <a class="ui inverted button">Log in</a> -->
                 <!-- <a class="ui inverted button" onclick="logout()">Acerca de</a>-->
                 BIENVENIDOS A PIWEBB
            </div>
        </div>
    </div>
</div>
<p>
    <a>++++++++++++++++++++++++++++++++++++++++++++++++++</a>
<img src="assets/img/PIWEB1.jpg" width="250" height="250" >
    <a>++++++++++++++++++++++++++++++++++++++++++++++++++</a>
</p>
<app-footer></app-footer>


