<div class="ui inverted vertical masthead center aligned segment" id="fondo_midnight">
    <!-- <div class="ui inverted vertical center aligned segment"> -->

    <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
            <a class="header item">
                <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/4/4a/Usac_logo.png">USAC
            </a>
            <div class="right item">
                <!-- <a class="ui inverted button">Log in</a> -->
                <a class="ui inverted button" routerLink="/login">Iniciar sesión</a>
                <a class="ui inverted button" routerLink="/register">Registrarse</a>
            </div>
        </div>
    </div>

    <div class="ui text container">
        <h1 class="ui inverted header">
            WebApp
        </h1>
        <!-- <h2>Escucha música a cualquier hora</h2> -->
    </div>

</div>

<div class="ui vertical stripe">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="sixteen wide column">
                <!-- <h3>Datos de la canción:</h3> -->
                <div class="ui grid container">

                    <div class="row">
                        <div class="eight wide column">
                            <h3 class="ui header">AppWeb</h3>
                            <p>
                                Se quiere implementar una Aplicación Web para que los estudiantes tengan acceso a un récord de los
                                catedráticos que han impartido uno o más cursos en la facultad.
                            </p>
                        </div>
                        <div class="eight wide column">
                            <div class="ui grid container">
                                <div class="row">
                                    <div class="sixteen wide column">
                                        <div class="image centered">
                                            <img class="img_logo" src="assets/img/PIWEB1.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui horizontal divider">
                        Información
                    </div>

                    <div class="row">
                        <div class="eight wide column">
                            <h3 class="ui header">Acerca de</h3>
                            <p>
                                Somos estudiantes de la universidad de San Carlos de Guatemala.
                            </p>
                        </div>
                        <div class="eight wide column">
                            <h3 class="ui header">Contactenos</h3>
                            <div class="ui large list">
                                <!-- <div class="item">
                                    <div class="header">Programador</div>
                                    Angel Ordón
                                </div>
                                <div class="item">
                                    <div class="header">GitHub</div>
                                    <a href="https://github.com/AngelOrdon02">AngelOrdon02</a>
                                </div> -->
                                <div class="item">
                                    <div class="header">Ubicación</div>
                                    Ciudad de Guatemala, Guatemala
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<app-footer></app-footer>