<!-- Page Contents -->
<div class="pusher">

    <app-navbar></app-navbar>

    <div class="ui vertical stripe">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="one wide column"></div>
                <div class="fourteen wide column">
                    <div class="ui grid">
                        <div class="row">
                            <div class="one wide column"></div>
                            <div class="five wide column">
                                <h2 class="ui header">
                                    <i class="newspaper outline icon"></i>
                                    <div class="content">Publicaciones <div class="sub header">Listado de todas las publicaciones</div>
                                   </div>
                                </h2>                        
                            </div>
                        </div>
                    </div>

                    <div class="ui hidden divider"></div>

                    <table class="ui teal table">
                        <thead>
                            <tr>
                                <th>Empresa</th>
                                <th>Nombre</th>
                                <th>Domicilio</th>
                                <th>Telefono</th>
                                <th>Correo</th>
                                <th>DPI</th>
                                <th>NIT</th>
                                <th>Domicilio</th>
                                <th class="right aligned">Acciones</th>
                            </tr>
                        </thead>                  

                    </table>
                </div>
                <div class="one wide column"></div>
            </div>

        </div>
    </div>

    <app-footer></app-footer>

</div>