body {
    background-color: #DADADA;
    /* The image used */
    /* background-image: url("https://cdn.pixabay.com/photo/2018/09/03/23/56/sea-3652697_960_720.jpg"); */
    /* background-image: url("https://cdn.pixabay.com/photo/2016/03/17/23/07/abstract-1264071_960_720.png"); */
    /* background-image: url("https://cdn.pixabay.com/photo/2017/03/14/16/57/silver-2143730_960_720.jpg"); */
    background-image: url("https://cdn.pixabay.com/photo/2017/02/10/16/29/abstract-2055567_960_720.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body>.grid {
    height: 100%;
}

.image {
    margin-top: -100px;
}

.column {
    max-width: 450px;
}