/*
@import url(login.css);
@import url(home.css);
*/

.centered {
    text-align: center;
    padding: 10px;
}

.position_right {
    text-align: right;
    padding: 10px;
}

.img_table {
    width: 120px;
    height: 120px;
}

.img_comments {
    width: 200px;
    height: 200px;
}

.img_show_song {
    width: 250px;
    height: 250px;
}

.img_logo {
    width: 200px;
    height: 250px;
}