<!-- Page Contents -->
<div class="pusher">

    <app-navbar></app-navbar>

    <div class="ui vertical stripe">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="one wide column"></div>
                <div class="fourteen wide column">
                    <div class="ui grid">

                        <div class="row">
                            <div class="four wide column"></div>
                            <div class="eight wide column">
                                <h3>Mis datos:</h3>
                                <form class="ui form">
                                    <div class="field">
                                        <label>Carné</label>
                                        <input type="text" id="carne" name="carne" placeholder="Carné">
                                    </div>
                                    <div class="field" hidden>
                                        <label>Id</label>
                                        <input type="text" id="id_user" name="id_user" placeholder="Id" disabled>
                                    </div>
                                    <div class="field">
                                        <label>Nombre</label>
                                        <input type="text" id="name" name="name" placeholder="Nombre">
                                    </div>
                                    <div class="field">
                                        <label>Apellido</label>
                                        <input type="text" id="lastname" name="lastname" placeholder="Apellido">
                                    </div>
                                    <div class="position_right">
                                        <button class="large ui teal button" type="button" onclick="edit()">Editar</button>
                                    </div>
                                </form>
                            </div>
                            <div class="four wide column"></div>
                        </div>

                    </div>
                </div>
                <div class="one wide column"></div>
            </div>

        </div>
    </div>

    <app-footer></app-footer>

</div>